{% extends "tarefas/base.html" %}


{% block title %} Home {% endblock  %}

{% block  body %}

    <div class="progress-container">
        <label>Progresso</label>
        <div class="progress-bar">
            <div class="progress" style="width: {{ pct }}%;"></div>
        </div>
        <div class="progress-count">{{ completed }}/{{ total }}</div>
    </div>

    <form class="task-form" method="POST">
        <input name="label" type="text" placeholder="$ adicionar nova tarefa..." required autofocus />
        <button type="submit">ADD</button>
    </form>

    {% if tasks %}
        <ul class="task-list">

            {% for task in tasks %}
                <li class="completed">
                    <form method="POST">
                        <input type="checkbox" onChange="this.form.submit()" checked />
                    </form>
                    <span>Assistir 30 minutos de aulas</span>
                    <a href="" class="delete">×</a>
                </li>
            {% endfor %}
        </ul>
        <p class="footer">Faltam {{ remaining }} tarefa{% if remaining != 1  %}s{% endif %} • Bora codar!</p>
    {% else %}
        <p class="footer">Não existem tarefas cadastradas • Bora codar!</p>
    {% endif %}

{% endblock  %}